* {
  margin: 0;
}

body {
  font-family: Arial;

  /* background-color: #341677; */
  background-color: #282f44;
}

.section {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pokeball {
  margin-bottom: 30px;
  width: 80px;
}

.title {
  font-size: 45px;
  color: #ececec;

  margin-bottom: 50px;
}
.parragraph {
  color: #ececec;
  font-size: 30px;
  margin-bottom: 20px;
}

/* input*/

#formid {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#pokemonid {
  font-size: 18px;
  padding: 0 20px 0 20px;

  height: 5vh;
  width: 100%;
  margin-bottom: 50px;

  border-radius: 50px;
  border: none;
  outline: none;

  background-color: #ececec;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 3px 3px 0px;
}

.button {
  border: 2px solid #f70776;
  border-radius: 50px;

  width: 50%;
  height: 6vh;
  margin-bottom: 50px;

  font-size: 20px;
  color: #f70776;

  background: none;
  outline: none;

  transition: all 0.5s;
}

.button:hover {
  background: #f70776;
  color: black;
}

.button:disabled {
  border: 2px solid #666;
  color: #666;
}
.button:disabled:hover {
  background-color: #666;
  color: #fff;
}
/*--- Loading properties ---*/

.spiner {
  display: inline;
}

.ocultar {
  display: none;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

/*--- end from Loading properties ---*/

#resultado {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titlePokemon {
  color: #ececec;
  font-size: 40px;
}

.pokeimg {
  width: 300px;

  /* background-color: teal; */

  animation-name: poke-animation;
  animation-duration: 1s;
  transition: all 6s linear;
}

@keyframes poke-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

  0%,
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    left: 50px;
    transform: rotate(4deg);
  }
  5%,
  15%,
  25%,
  35%,
  45%,
  55%,
  65%,
  75%,
  85%,
  95% {
    left: -50px;
    transform: rotate(-4deg);
  }
}
